.landing-page-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 9%;
  margin: 7em;
}

.collection-page-container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  
  gap: 10px;

  margin:50px;
}

/* .button-style{

} */

.pagetext-style{
  text-decoration: underline;
}