.landing-page-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 9%;
  margin: 7em;
}

.collection-page-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  
  gap: 10px;

  margin:50px;
}

@media(max-width:800px){
  .landing-page-container{
      margin: 0em;
  }
}

.pagetext-style{
  text-decoration: underline;
}