.page-container{
    display: flex;

    max-width: 100%;
    width: fit-content;
    height: auto;

    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

.login-container{
    width: 400px;
    height: 505px;

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: start;

    background-color:#4A4E69;
    border-radius: 40px;
    box-shadow:10px 10px 20px 10px rgb(26, 26, 26);

    z-index: 2;
}

.form-container{
    display: flex;
    flex-direction:column;
    gap: 10px;

    text-align: left;
}

.inputfield{
    height: 3em;

    border-radius: 15px;
    border: 0;

    font-size: large;
    background-color: rgba(240, 248, 255, 0.425);
}

.form-button{
    width: 100%;
    height: 50px;

    border-radius: 30px;

    border: 0;
}

.lp-Image{
    width: 600px;
    position: absolute;
    top: 45%;
    right:75%;

    z-index: 0;

}

.handle-Image{
    width: 306px;
    position: absolute;
    top: 45%;
    left: 0%;

    z-index: 1;
}
