:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.taskbar{
  top: 0;
  left: 0;

  width: 100%;
  height: 75px;

  margin: 0;
  position: fixed;

  display: flex;

  background-color: #464646;
}

.taskbar-container{
  display: flex;
  flex-direction: row;
  
  align-items: center;

  margin: 10px;
}

.taskbar-container-right{
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 5em;
}

.landing-page-container{
  display: block;

  width: 100%;
  height: 95%;
  margin: 5em;
}