.taskbar{
  top: 0;
  left: 0;

  width: 100%;
  height: 75px;

  margin: 0;
  position: fixed;
  display: flex;
   background-color:#01204E;
 box-shadow: 0px 0px 20px 0px rgb(32, 32, 32);
}

.navbar{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  align-items: center;

  position: fixed;
  left: 0;
  width: 100%;
}

.taskbar-container{
  display: flex;
  flex-direction: row;
  
  align-items: center;

  margin: 10px;
}

.secondary-search-container{
  display: none;
}

.brand{
  display: block;
}

.taskbar-container-right{
  display: flex;
  align-items: center;
  margin-left: auto;

  margin-right: 2em;
}

.user-profile{
  width: 50px;
  height: 50px;
  
  border-radius: 50px;

  background-color: #ffff;
}

.taskbar-searchbar{
  border: 0;
  border-radius: 15px;

  width: 45em;
  height: 30px;
  margin-left:25px;
  
}

.secondary-navbar-menu{
  display: none;
}

.secondary-navbar{
  display: flex;
  justify-content: left;
  text-align: left;
  flex-direction: row;

  width: 100%;
  height: 55px;
  max-height: 50px;
  margin-top: 60px;
  background-color: #018391;
}

.navbar-container{
  display: flex;
  flex-direction: row;
  gap: 10px;

  margin-top: 15px;
  margin-left: 10px;
}

.navbar-container a:hover{
  text-decoration: underline;
  cursor:pointer;
}

.Hamburger-menu{
  display: none;
}

.searchbar-button{
  display: none;
}

.secondary-navbar-menu{
  display: none;
}

@media(max-width:1100px){
  .user-profile{
    display: none;
  }

  .secondary-navbar-menu{
   display: block;
  }

  .taskbar-searchbar{
    display: none;
  }

  .Hamburger-menu{
    display: flex;
    margin-left: auto;
    gap: 25px;
    padding-right: 10px;

    font-size: 1.25vh;
  }

  .searchbar-button{
    display: block;
    color: #018391;
  }

  .secondary-searchbar{
    border: 0;
    border-radius: 15px;

    height: 30px;
    max-width: fit-content;
  }

  .secondary-search-container.visible{
    display: block;
  }

  .brand.hidden{
    display: none;
  }
}
